<!DOCTYPE html>
<html lamg="en">
<head>
	<!-- Top Navigation Bar -->

    <div class="header">
        <h2>Healthcare System Dashboard</h2>
    </div> 

	 <!-- Top Navigation Bar -->

	 <div class="navbar">
        <a href="home.php">Home</a>
        <a href="profile-view">Profile</a>
        <a href="index.html">Index</a>
        <a href="search.html">Search</a>
        <a href="tip.php">Message</a>

    </div>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device=width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/all.css">
	<body>
		<nav>
			<div class="container">
				<div class="logo">
					<img src="../view/image/logo.png" alt="">
				</div>

				<div class="menu">
					<ul>
						<li><a href="index1.html">Home</a></li>
						<li><a href="../view/about.html">About</a></li>
						<li><a href="../view/service.html">MediAccess</a></li>
						<li class="dropdown">
							<a href="">Well-being <span>&#9660;</span></a>
							<ul class="dropdown-content">
								<li><a href="../view/healthtips.php">Health Tips</a></li>
								<li><a href="../view/medication.php">Medication Reminder </a></li>
								<li><a href="../view/bmical.php">BMI Calculator</a></li>
								<li><a href="../view/dietplan.php">Diet Plans</a></li>
							</ul>
						</li>
						<li><a href="../controller/faq.php">FAQ</a></li>
						
					</ul>
				</div>
				<div class="moon"></div>
			</div>
		</nav>
		<!-- content part html start -->
<div id="about">
			<div class="container">
				<div class="common_heading">
					<h4>About us</h4>

				</div>
				<div class="about_photo">
					<img src="../view/image/hw.png">
				</div>
				<div class="about_content">
					<h4>Welcome</h4>
					<p>Welcome to our Health Information Portal, a comprehensive platform dedicated to providing individuals with accessible and reliable healthcare solutions. Our mission is to simplify the management of health-related information and promote well-being through innovative technology. Designed with care and precision, our portal ensures a seamless experience for all users, fostering a healthier and more informed community.

						At the heart of our platform lies a commitment to empowering individuals by offering tools and resources that cater to diverse health needs. Whether you're tracking your fitness goals, managing medications, or seeking expert advice, our portal serves as your trusted companion on your journey to better health. With user-friendly features, personalized insights, and up-to-date medical information, we strive to bridge the gap between technology and healthcare. Together, let’s embrace a smarter way to prioritize health and build a brighter, healthier future for everyone.</p>
				</div>
<!-- Bottom Navigation Bar -->

    <div class="footer">
        <a href="contact.html">Contact Us</a>
        <a href="privacypolicy.html">Privacy Policy</a>
        <a href="service.html">Terms of Service</a>
    </div>
	
	</body>
</html>