
<html lang="en">
<head>
   <!-- Top Navigation Bar -->

   <div class="header">
    <h2>Healthcare System Dashboard</h2>
</div> 
<!-- Navigation Bar -->

<div class="navbar">
    <a href="home.php">Home</a>
    <a href="profile-view">Profile</a>
    <a href="index.html">Index</a>
    <a href="search.html">Search</a>
    <a href="tip.php">Message</a>

</div>

  <title>Emergency Contacts</title>
</head>
<body>
  <h1>Emergency Contacts</h1>
  <h2>Important Numbers</h2>
  <ul>
    <li><strong>Ambulance:</strong> 911</li>
    <li><strong>Police:</strong> 999</li>
    <li><strong>Fire Department:</strong> 112-233-4455</li>
    <li><strong>Emergency Medical Assistance:</strong> 800-555-1234</li>
  </ul>

  <h2>Nearby Hospitals</h2>
  <ul>
    <li>
      <strong>Padma Diagnostic Centre Ltd</strong><br>
      245/2 New Circular Road, W Malibagh, Dhaka 1217<br>
      Phone number : 09611-113355<br>
    </li>
    <li>
      <strong>Square Hospitals Ltd</strong><br>
      18F, Bir Uttam Qazi Nuruzzaman Sarak, West Panthapath, Dhaka 1205<br>
      Phone number : 01713141447<br>
    </li>
    <li>
      <strong>Saphena General & Dental Hospital Ltd.</strong><br>
      111 DIT Road, Dhaka 1217<br>
      Phone number : 880 2-9340203<br>
    </li>
    
  </ul>
  <!-- Bottom Navigation Bar -->

  <div class="footer">
    <a href="contact.html">Contact Us</a>
    <a href="privacypolicy.html">Privacy Policy</a>
    <a href="service.html">Terms of Service</a>
</div>
</body>
</html>
