<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Top Navigation Bar -->

    <div class="header">
        <h2>Healthcare System Dashboard</h2>
    </div> 
<!-- Navigation Bar -->

    <div class="navbar">
        <a href="home.php">Home</a>
        <a href="profile-view">Profile</a>
        <a href="index.html">Index</a>
        <a href="search.html">Search</a>
        <a href="tip.php">Message</a>

    </div>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device=device-width, initial-scale=1.0">
	<title>Gallery</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/all.css">
</head>
<body>
	<nav>
		<div class="container">
			<div class="logo">
				<img src="image/logo.png" alt="">
			</div>

			<div class="menu">
				<ul>
					<li><a href="index1.html">Home</a></li>
						<li><a href="../view/about.html">About</a></li>
						<li><a href="../view/service.html">MediAccess</a></li>
						<li class="dropdown">
							<a href="">Well-being <span>&#9660;</span></a>
							<ul class="dropdown-content">
								<li><a href="../view/healthtips.php">Health Tips</a></li>
								<li><a href="../view/medication.php">Medication Reminder </a></li>
								<li><a href="../view/bmical.php">BMI Calculator</a></li>
								<li><a href="../view/dietplan.php">Diet Plans</a></li>
							</ul>
						</li>
						<li><a href="../controller/faq.php">FAQ</a></li>
				</ul>
			</div>
			<div class="moon"></div>
		</div>
	</nav>
	<!-- content part html start -->
	<div id="service">
		<div class="container">
			<div class="common_heading">
				<h4>Services</h4>
			</div>
			<div class="features-container">
				
				<div class="feature">
					<a href="service1"><h4>service1</h4></a>
					<p>details</p>
				</div>
				<div class="feature">
					<a href="service1"><h4>service1</h4></a>
					<p>details</p>
				</div>
				
				<div class="feature">
					<a href="service1"><h4>service1</h4></a>
					<p>details</p>
				</div>
				<div class="feature">
					<a href="service1"><h4>service1</h4></a>
					<p>details</p>
				</div>
				
				</div>
			</div>
		</div>
	</div>
	<!-- Bottom Navigation Bar -->

    <div class="footer">
        <a href="contact.html">Contact Us</a>
        <a href="privacypolicy.html">Privacy Policy</a>
        <a href="service.html">Terms of Service</a>
    </div>
</body>
</html>
